:maruku
  # Welcome!

  This is an example styleguide.
  To customize this page, edit

      app/views/kss/home/overview.html.haml

  ## New Sections
  
  To create new sections, add an according action to

      app/controllers/kss/home_controller.rb

  and create its view in

      app/views/kss/home/
    
  ## Including your app

  Don't forget to include your app's stylesheets in the KSS application layout

      app/views/layouts/kss/application.html.haml